<h1>Sign In</h1>

<%= form_for :user, url: '/sessions' do |f| %>
  <div class="form-group">
    Email: <%= f.text_field :email, class: 'form-control'%>
    Password: <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit "Submit", class:"btn btn-primary" %>

<% end %>
