<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Jungle! </h1>
    <p>
    Order id <%= @order.id%>
    Total cost <%= @order.total_cents / 100.0%>
      
    </p>
    <p>Thanks for using the jungle and have a great day!</p>
  </body>
</html>
