<article class="review-detail">
  <% if @product.reviews.size > 0 %>
    <h2>Customer Reviews</h2>
    <% @product.reviews.order(:created_at).reverse.each do |review|%>
    <blockquote class="blockquote">
      <b><%= review.user.first_name%></b>
      <% review.rating.times do %>
      <%= fa_icon('star')%>
      <% end %>
      <p><%= review.description%></p>
    </blockquote>
    <% end %>
  <% end %>
</article>
